version: '3'

services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=production
    volumes:
      - ./backend:/app

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "8080:80"   # Porta pública 8080 → porta interna 80 (Nginx)
    depends_on:
      - backend
